/*------------------------------------*\
    VARIABLES
\*------------------------------------*/


/* ----- Responsive ----- */

// Starting macro breakpoints - use more as needed in component and page files

$west-blue : #005596;
$west-lt-blue  : #7ed0e0;
$west-grey  : #d2d0cd;
$west-green  : #00b14f;
$west-text  : #434343;
