<div class="c-breadcrumb">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Data</a></li>
    <li><span class="c-breadcrumb__item-active">{{active}}</span></li>
  </ol>   
</div>